# Local (SQLite) — Docker ke bina chalega
DATABASE_URL="file:./dev.db"

# Production later (PostgreSQL)
# DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/aimhop_erp?schema=public"

AUTH_SECRET="generate-a-long-random-string"
NEXT_PUBLIC_APP_NAME="aimhop-ERP"
